.App {
  min-height: 100vh;
  background-color: #ffdab5;
  margin: 0;
  padding: 0;
}

.App h1 {
  margin: 0 auto;
  font-size: 30px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.search-button {
  border: none;
  padding: 10px 20px;
  color: black;
  background-color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 30px;
}

.recetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
