.receta {
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  max-width: 35%;
}

.receta h1 {
  font-size: 18px;
}

.receta ol {
  list-style: none;
}

.imagen {
  width: 60%;
  height: 40%;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
}

.calorias {
  font-size: 18px;
  font-weight: 600;
  display: block;
  border: 1px;
  border-width: 2px;
}
